version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_dev
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend_app
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    env_file:
      - .env
    environment:
      MONGODB_URI: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/wanderlust?authSource=admin
      CORS_ORIGIN: http://localhost:5173

  frontend:
    build: ./frontend
    container_name: frontend_app
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      # Browser will call backend through localhost
      VITE_API_PATH: http://localhost:5000

volumes:
  mongo_data:
    driver: local