apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: my-app
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: admin
  MONGO_INITDB_ROOT_PASSWORD: admin

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-config
  namespace: my-app
data:
  mongod.conf: |
    storage:
      dbPath: /data/db
    net:
      bindIp: 0.0.0.0
      port: 27017
    security:
      authorization: enabled

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
  namespace: my-app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 5Gi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:latest
        args: ["--config", "/etc/mongo/mongod.conf"]
        ports:
        - containerPort: 27017
        envFrom:
        - secretRef:
            name: mongo-secret
        volumeMounts:
        - name: mongo-storage
          mountPath: /data/db
        - name: mongo-config-volume
          mountPath: /etc/mongo
      volumes:
      - name: mongo-storage
        persistentVolumeClaim:
          claimName: mongo-pvc
      - name: mongo-config-volume
        configMap:
          name: mongo-config

---

apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: my-app
spec:
  type: ClusterIP
  selector:
    app: mongodb
  ports:
    - port: 27017
      targetPort: 27017